<launch>
<arg name="ns" default="scan_detection_cnt" />
<arg name="config" default="box_filter" />
<arg name="scan_topic" default="/lidarFront/scan" />
<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="$(arg ns)_laser_filter" ns="$(arg ns)">
      <remap from="scan" to="$(arg scan_topic)" />
      <rosparam command="load" file="$(find scan_detection_cnt)/config/$(arg config).yaml" />
</node>
</launch>